<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aliza.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Shows DB"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activities.Main2DayScheduleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.myZone" />
        <activity android:name=".Activities.SearchResultsActivity" />
        <activity android:name=".Activities.SelectedShowActivity" />

        <service
            android:name=".Services.MyIntentService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".Services.AlarmReciever"
            android:enabled="true"
            android:exported="true" />

    </application>



</manifest>